{% extends 'base.html.twig' %}

{% block title %}{{ 'edit_game_stat'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit_game_stat'|trans }}</h1>

    {{ include('game_stat/_form.html.twig', {'button_label': 'update'|trans }) }}

    <a href="{{ path('app_game_stat_index') }}">{{ 'back_to_list'|trans }}</a>

    {{ include('game_stat/_delete_form.html.twig') }}
{% endblock %}