<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'project_title'|trans }}{% endblock %}</title>
    <link rel="manifest" href="public/favicon/site.webmanifest">

    {% block stylesheets %}
        <link href="{{ asset('https://fonts.googleapis.com/icon?family=Material+Icons') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/themes/prism.min.css">
        <link rel="stylesheet" href={{ asset('css/style.css') }} >
        <link rel="stylesheet" href={{ asset('css/steam.css') }} >
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js') }}" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/prism.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}" defer></script>
    {% endblock %}
</head>
<body>
<header>
    {% if is_granted('ROLE_ADMIN') %}
    <h1>{{ 'steam_admin_page'|trans }}</h1>
    {% else %}
    <h1>{{ 'steam_user_page'|trans }}</h1>
    {% endif %}
    <nav>
        <ul>
            <li><a href="{{ path('app_default') }}" class="tooltipped" data-tooltip="{{ 'back_home_tooltip'|trans }}">{{ 'home'|trans }}</a></li>
            <li><a href="{{ path('steam_profile') }}" class="tooltipped" data-tooltip="{{ 'preview_tooltip'|trans }}">{{ 'steam'|trans }}</a></li>
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="btn right">{{ 'logout'|trans }}</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn right">{{ 'login'|trans }}</a>
            {% endif %}
        </ul>
        <ul>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('app_user_index') }}">{{ 'crud_user'|trans }}</a></li>
                <li><a href="{{ path('app_game_index') }}">{{ 'crud_game'|trans }}</a></li>
                <li><a href="{{ path('app_game_stat_index') }}">{{ 'crud_gamestat'|trans }}</a></li>
                <li><a href="{{ path('app_comment_index') }}">{{ 'crud_comment'|trans }}</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% block body %}{% endblock %}
<footer>
    <p>{{ 'university_year'|trans }}</p>
    <form method="get" action="">
        <select name="_locale" onchange="this.form.submit()">
            {% for locale, language in {'ar': 'AR', 'de': 'DE', 'en': 'EN', 'es': 'ES', 'fr': 'FR', 'it': 'IT', 'ja': 'JA', 'ko': 'KO', 'ru': 'RU', 'sv': 'SV', 'uk': 'UK', 'zh': 'ZH',}|sort %}
                <option value="{{ locale }}" {% if app.request.getLocale() == locale %}selected{% endif %}>{{ language }}</option>
            {% endfor %}
        </select>
    </form>
</footer>
</body>
</html>